@import "./grid";

.container{
    @extend .flex_2;
}
.header_top{
    border-bottom: 1px solid grey;
}

.header_left{
    @extend.flex;

    .mail_service{
        border-right: 1px solid grey;
        padding-right: 20px;
        padding-bottom: 15px;
        padding-top: 15px;
    }
}
.like{
     a{
        text-decoration: none;
        color: black;
        font-size: 20px;  
    }
    span{
        font-size: 20px
    }
}
.header_2{
    @extend .flex;
    padding: 40px;
    @extend .flex_2;

}

.section_list{
    @extend .flex;
    background-color: rgb(0, 0, 0);
    padding-top: 20px;
    padding-bottom: 40px;

    .list {

        ul{
            list-style-type: none;
            display: flex;
            align-items: center;
            justify-content: center;
            li{

                :hover{
                    background-color: rgb(255, 153, 0);
                    border: 1px solid rgb(211, 201, 185);
                    padding: 20px 40px;
                }
                a{
                    text-decoration: none;
                    color: rgb(255, 255, 255);
                    border: 1px solid rgb(186, 173, 154);
                    padding: 20px 40px;
                    transition: calc(0.4s)
                }
            }
        }
    }
}
     

.header_right{
    @extend .flex;

    .top_social{
        border-right: 1px solid grey;
        padding-right: 20px;
        padding-bottom: 15px;
        padding-top: 15px;
        a{
            color: black;
        }
    }
    .login a{
        text-decoration: none;
    }
    
}


